/* cheatsheet.css, styles for plcheat */

/* Major UI elements */
#sheet {
  padding: 0.5em;
  background-color: #fff;
  color: #000;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  flex: 1 1 auto;
}

.plstyle {
  background-color: #ddd;
  color: #222;
}

/* Minor UI elements */
body {
  font-size: 160%;
  margin: 0;
  width: 100vw;
  position: fixed;
  height: 100vh;
  display: flex;
  flex-flow: column;
}

#head {
  flex: 0 0 auto;
  padding: 1em 1em 0em 1em;
  border-bottom: 2px solid black;
  width: 100vw;
}

#title {
  top: 2em;
  left: 2em;
  display: inline-block;
  float: left;
  margin-right: 2em;
  margin-bottom: 1em;
  font-size: 150%;
  font-weight: bold;
  color: #ff8c00;
  text-stroke: 1px #cc5900;
  -webkit-text-stroke: 1px #cc5900;
  -webkit-text-fill-color: #ff8c00;
}

#description {
  display: inline-block;
}

#selections {
  display: block;
  width: 100%;
  padding: 1em 1em 0.5em 1em;
}

#credits {
  flex: 0 0 auto;
  padding: 0.2em;
}
