/* cheatsheet.css, styles for plcheat */

/* Major UI elements */
#sheet {
  padding: 0.5em;
  background-color: #fff;
  color: #000;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.plstyle {
  background-color: #ddd;
  color: #222;
}

/* Minor UI elements */
#head {
  padding: 1em 1em 0em 1em;
  border-bottom: 2px solid black;
}

#title {
  top: 2em;
  left: 2em;
  display: inline-block;
  margin-right: 2em;
  margin-bottom: 1em;
  font-size: 120%;
  font-style: italic;
  color: #ff8c00;
}

#description {
  display: inline-block;
}

#selections {
  display: block;
  width: 100%;
  padding: 1em 1em 0.5em 1em;
}

#credits {
  padding: 0.2em;
}
